team_contract.md
.DS_Store
.Rhistory
test.ipynb
teamwork-contract.md
link-to-release.ipynb
src/__pycache__/app.cpython-311.pyc
src/__pycache__/callbacks.cpython-311.pyc
src/__pycache__/components.cpython-311.pyc
src/__pycache__/data.cpython-311.pyc
